main {
  padding: 10vw;
  font-size: 1.5vw;
  background: #444;
  min-height: 100vh;
  text-align: center;
}

main h2 {
  color: #fff;
}

main span {
  display: inline-block;
  margin: .5vw;
  padding: 1vw 2vw;
  background: #ccc;
  font-size: 2vw;
  border-radius: 3px;
  cursor: pointer;
  transition: 350ms all;
}

main span:hover {
  background: #000;
  color: #fff;
}

h2.positive {
  color: green;
}

h2.negative {
  color: red; 
}